---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";

export interface Props {
	title?: string;
	frontmatter?: {
		title?: string;
	};
}
// Modifica esta línea para manejar también el frontmatter
const { title = Astro.props.frontmatter?.title || "Untitled" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<BaseHead title="AstroTips" description="My First Pagen in Astro - Softsispro.com" />
	<body class="h-screen">
		<slot />
	</body>
</html>
